<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    </head>
    <body>
        <div id="reservation-form">
                <form id="search-form">
                    <p>ORIGIN CITY:
                        <select id="sourceCity" name="sourceCity">
                            <option value="">Select Origin City</option>
                            <option th:each="city : ${servicableCities}" th:value="${city.id}" th:text="${city.name}"></option>
                        </select>
                    </p>
                    <p>DESTINATION CITY:
                        <select id="destinationCity" name="destinationCity">
                            <option value="">Select Destination City</option>
                            <option th:each="city : ${servicableCities}" th:value="${city.id}" th:text="${city.name}"></option>
                        </select>
                    </p>
                    <p>SEATING CAPACITY: <input type="number" id="seatingCapacity" name="seatingCapacity"></p>
                    <p>PICKUP-ADDRESS: <input type="text" id="pickUpAddress" name="pickUpAddress"></p>
                    <p>DROPOFF-ADDRESS: <input type="text" id="dropOffAddress" name="dropOffAddress"></p>
                    <p>START DATE-TIME: <input type="datetime-local" id="startDateTime" name="startDateTime" class="datetime-picker"></p>
                    <p>END DATE-TIME: <input type="datetime-local" id="endDateTime" name="endDateTime" class="datetime-picker"></p>
                    <input type="submit" value="SEARCH">
                </form>
        </div>


        <div id="cars-catalog">
        </div>

    </body>
</html>